

.overcontainer{
    width: 500px;
    border: 1px solid red;
    overflow: hidden;   
}

#choice{
    width: 300px;
    float:left;
    border:1px solid yellow;
    
}

#chosen{
    border:1px solid blue;
    overflow: hidden;
}

.draggable {
    padding: 1rem;
    background-color: white;
    border: 1px solid black;
    cursor:move;
}

.dragging {
    opacity: 0.5;
}

.draggable:hover {
    background-color: blueviolet;
}

