

.overcontainer{
    width: 500px;
    border: 1px solid red;
    overflow: hidden; 
   
    

}

#choice{
    width: 45%;
    float:left;
    border:1px solid yellow;
    margin: 2px;
    
}

#chosen{
    width: 45%;
    float:right;
    border:1px solid blue;
    overflow: hidden;
    margin: 2px;
}

.draggable {
    padding: 1rem;
    background-color: white;
    border: 1px solid black;
    cursor:move;
}

.dragging {
    opacity: 0.5;
}

.draggable:hover {
    background-color: blueviolet;
}

